
*{
    margin: 0;
    padding: 0;
   
}
.container{
    background-color: rgb(10,11,39);
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.image{
  margin-left: 15px;
  height: 20px;
}
.nav-items ul{
   display: flex;
   list-style: none;
   margin-right: 10px;
   font-size: larger;
   margin-left: 200px;
}
.nav-items li{
   padding: 20px;
  
}
.nav-items a{
color: aliceblue;
text-decoration: none;
font-weight: 400;
}
.nav-items a:hover{
    color: red;
}

.nav-items button:hover{
    background-color: rgb(10,11,39);
    color: red;
}


.nav-items {
  margin-left: 47px;
  height:70px ;
  width: 90%;
  margin-bottom: 37px;
  
}
.nav-items button{
    background-color:rgb(237,28,36);
    border: 10px solid rgb(10,11,39) ;
    border-radius: 19px;
    height: 60px;
    width: 145px;
    color: white;
    font-weight: 600;
    margin-top: 3px;
    
}
.image2 img{
  display: block;  
  width: 100%;
  height:100%;

}
.side-image-container{
    background-color: rgb(255, 130, 41);
    width:50% ;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidepng img{
    width: 500px;
    height: 200px;
    position: relative;
    left: 120px;
} 
.font1{
    position: relative;
    bottom: 180px;
}
.font1 h1{
    text-align: center;
    font-size: 60px;
    color: white;
}
.big-div1{
    display: flex;
}
.para{
    width: 50%;
    height: 50%;
    
}
.para p{
    font-weight: 500;
    font-size:x-large;
    margin-left: 25%;
    margin-top: 113px;
}
.para a{
    color: black;
    font-size: 30px;
}
.image3 img{
    width: 100%;
    height: 100%;
}
.last-div{
    
    width: 100%;
    height: 200px;

}
.last-div{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
}

